@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");
html, body {
  width: 100%;
  height: 100%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video, :before, :after, button, input, textarea, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  background: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-kerning: normal; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  outline: none !important; }

#none {
  display: none; }

#icm, h2 strong::after, #mainNavbar .logo::before, #mainNavbar .chat-icon::before, #mainNavbar .navbar-toggler::before, .bottom-menu li a::before, .category::after, #navLinks a::after, #navLinks form button::before, .more::after {
  font-family: icomoon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#uppercase, h1, h2, .buy, .category {
  text-transform: uppercase;
  letter-spacing: .075em; }

#bold, h1, h2, h3, .product ins, #navLinks a::after {
  font-weight: 700; }

body, input, textarea, button, select {
  font-family: Roboto,'Arial Cyr',Arial,Helvetica,'Lucida Console','Lucida Sans Unicode',Tahoma,Verdana,'Myriad Pro','Trebuchet MS',Calibri,Sans-Serif; }

@font-face {
  font-family: icomoon;
  src: url("fonts/icomoon.eot?1");
  src: url("fonts/icomoon.eot?1#iefix") format("embedded-opentype"), url("fonts/icomoon.woff?1") format("woff"), url("fonts/icomoon.ttf?1") format("truetype"), url("fonts/icomoon.svg?1#icomoon") format("svg");
  font-style: normal; }
*, *:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: transparent; }

a {
  text-decoration: none !important; }

html {
  font-size: 12px; }
  html.NonePointerEvents {
    overflow-y: scroll; }

body {
  background: #f7fafc;
  color: #666;
  line-height: 1.35;
  -webkit-text-size-adjust: none; }
  .NonePointerEvents body {
    overflow-y: hidden; }

header {
  background: url(black_friday-assets/background.jpg) 50% 50%;
  background-size: cover; }

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 31px;
  color: #fff;
  text-align: center;
  line-height: 71px;
  position: relative;
  z-index: 2;
  background: url(black_friday-assets/black_middle.png) repeat-x;
  background-size: auto 102.5px; }
  @media (min-width: 360px) {
    h1 {
      padding: 0 10px; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 50px;
      background-size: auto;
      line-height: 138px;
      padding: 0 20px; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 81px;
      background-size: auto;
      line-height: 138px;
      padding: 0 20px; } }
  h1::before, h1::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 102.5px; }
    @media (min-width: 768px) {
      h1::before, h1::after {
        height: 205px; } }
  h1::before {
    background: url(black_friday-assets/black_left.png) no-repeat;
    background-size: cover;
    width: 25px;
    left: -25px; }
    @media (min-width: 768px) {
      h1::before {
        width: 50px;
        left: -49px;
        background-size: auto; } }
  h1::after {
    background: url(black_friday-assets/black_right.png) no-repeat;
    background-size: cover;
    width: 35px;
    right: -35px; }
    @media (min-width: 768px) {
      h1::after {
        width: 70px;
        right: -70px; } }
  h1 span {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 32px; }
    @media (min-width: 768px) {
      h1 span {
        font-size: 24px;
        line-height: 70px; } }
    @media (min-width: 992px) {
      h1 span {
        font-size: 32px; } }
  h1 strong {
    font-size: 31px;
    color: #ff3838;
    font-weight: 700;
    padding-bottom: 60px; }
    @media (min-width: 768px) {
      h1 strong {
        font-size: 50px; } }
    @media (min-width: 992px) {
      h1 strong {
        font-size: 81px; } }

h2 {
  font-size: 16px;
  color: #333;
  text-align: center;
  padding: 35px 0;
  line-height: 32px; }
  h2 strong {
    color: #ff3838;
    margin-left: 14px; }
    h2 strong::after {
      content: '\e903';
      font-size: 32px;
      vertical-align: middle;
      margin-left: -55px; }
      @media (min-width: 768px) {
        h2 strong::after {
          font-size: 64px;
          margin-left: -100px; } }
  @media (min-width: 768px) {
    h2 {
      font-size: 32px;
      line-height: 64px; } }

h3 {
  font-size: 11px; }
  @media (min-width: 768px) {
    h3 {
      font-size: 16px; } }
  @media (min-width: 992px) {
    h3 {
      padding-bottom: 20px; } }
  h3 a {
    color: #333; }
    h3 a:hover, h3 a:focus {
      color: #ff3838; }

section.container-fluid {
  padding: 0 10px 40px 10px; }
section:last-of-type {
  background: #eceff1; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: none; }

#mainNavbar {
  padding: 20px 20px 40px 20px; }
  #mainNavbar strong {
    display: none; }
  #mainNavbar .logo, #mainNavbar .chat-icon, #mainNavbar .navbar-toggler {
    color: #fff;
    font-size: 2rem; }
    #mainNavbar .logo::before, #mainNavbar .chat-icon::before, #mainNavbar .navbar-toggler::before {
      display: block; }
    #mainNavbar .logo:hover, #mainNavbar .logo:focus, #mainNavbar .chat-icon:hover, #mainNavbar .chat-icon:focus, #mainNavbar .navbar-toggler:hover, #mainNavbar .navbar-toggler:focus {
      color: #ccc; }
  #mainNavbar .logo::before {
    content: '\e904'; }
  #mainNavbar .chat-icon::before {
    content: '\e906'; }
  @media (min-width: 992px) {
    #mainNavbar {
      max-width: 1130px;
      margin: 0 auto; } }
  #mainNavbar .navbar-toggler {
    z-index: 4;
    position: relative;
    border: 0;
    padding: 0;
    margin-left: -10px; }
    @media (min-width: 1200px) {
      #mainNavbar .navbar-toggler {
        margin-top: 15px; } }
    #mainNavbar .navbar-toggler::before {
      content: '\e908'; }
    #mainNavbar .navbar-toggler[aria-expanded="true"] {
      color: #ff3838; }
      #mainNavbar .navbar-toggler[aria-expanded="true"]::before {
        content: '\e90a'; }

.banner {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .banner p {
    font-size: 10px;
    color: #fff;
    text-align: center;
    padding: 0 20px 50px 20px; }
    @media (min-width: 768px) {
      .banner p {
        font-size: 14px;
        max-width: 960px; } }

.main_content {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: stretch; }
  @media (min-width: 992px) {
    .main_content {
      flex-wrap: nowrap;
      max-width: 1180px;
      margin: 0 auto; } }

.prod-wrapper {
  flex-direction: column;
  display: flex;
  align-self: stretch; }
  @media (min-width: 768px) {
    .prod-wrapper {
      padding: 0 60px; } }
  @media (min-width: 992px) {
    .prod-wrapper {
      flex-direction: row;
      margin: 0px;
      justify-content: space-around;
      padding: 0 5px; } }

.product {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  height: calc(50vw + 30px);
  background: #fff;
  border: 1px solid #e5e5e5;
  margin-top: 5px;
  padding: 15px 5px; }
  @media (min-width: 768px) {
    .product {
      height: calc((100vw / 3) - 20px); } }
  @media (min-width: 992px) {
    .product {
      margin: 0px;
      flex-direction: row;
      height: auto; }
      .product.row {
        padding-left: 24px;
        padding-right: 24px; } }
  .product .img-link {
    position: relative;
    display: block;
    margin: 0 -15px;
    bottom: 0;
    padding-bottom: calc(100% + 30px); }
    @media (min-width: 768px) {
      .product .img-link {
        margin: 0;
        padding-bottom: 100%; } }
    .product .img-link img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .product del {
    font-size: 9px; }
    @media (min-width: 768px) {
      .product del {
        font-size: 14px; } }
  .product ins {
    font-size: 12px;
    color: #ff3838;
    display: block; }
    @media (min-width: 768px) {
      .product ins {
        font-size: 20px; } }

@media (min-width: 992px) {
  .lg-view {
    order: 2; } }

.price-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 992px) {
    .price-section {
      order: 2; } }

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 992px) {
    .description {
      order: 1;
      border-bottom: 1px solid #eceff1;
      padding: 0 0 1em;
      margin-bottom: 1em;
      align-self: flex-start; }
      .description p {
        font-size: 14px; } }

.buy {
  font-family: Arial;
  background: #000 url(black_friday-assets/buy-h.png);
  background-size: 200% 100%;
  color: #fff;
  line-height: 3em;
  display: block;
  text-align: center; }
  .buy:hover, .buy:focus {
    background-color: #ff3838;
    background-position-x: right;
    color: #fff; }
  .buy:active {
    color: #fff; }
  @media (min-width: 768px) {
    .buy {
      font-size: 14px; } }

.menu-bg {
  background: rgba(0, 0, 0, 0.5); }

.bottom-menu {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: stretch; }
  @media (min-width: 992px) {
    .bottom-menu {
      margin: 0 auto;
      max-width: 960px; } }
  .bottom-menu li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 1em;
    text-align: center; }
    @media (min-width: 768px) {
      .bottom-menu li a {
        flex-direction: row;
        font-size: 14px;
        justify-content: center; } }
    .bottom-menu li a::before {
      color: #ff3838;
      font-size: 2.5em;
      margin-bottom: .25em; }
      @media (min-width: 992px) {
        .bottom-menu li a::before {
          margin-right: 15px; } }
    .bottom-menu li a.unlock::before {
      content: '\e900'; }
    .bottom-menu li a.tab-lamp::before {
      content: '\e902'; }
    .bottom-menu li a.toys::before {
      content: '\e901'; }
    .bottom-menu li a.save::before {
      content: '\e905'; }
    .bottom-menu li a.electronics::before {
      content: '\e907'; }
  .bottom-menu li:hover, .bottom-menu li:focus {
    background: #222; }

.go_to {
  padding: 0;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .go_to {
      padding: 0 45px; } }
  @media (min-width: 992px) {
    .go_to {
      padding: 0; } }

.category {
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  line-height: 4em;
  color: #68747a;
  display: block;
  margin-top: 20px;
  box-shadow: -1px 15px 29px 0px rgba(104, 116, 122, 0.4);
  text-align: center; }
  @media (min-width: 768px) {
    .category {
      font-size: 20px;
      line-height: 3em; } }
  .category::after {
    content: '\e90c';
    color: #ff3838;
    margin-left: 15px; }
  .category:hover, .category:focus {
    background: #2b2b2b;
    color: #fff;
    box-shadow: none; }
  .category:active {
    color: #fff; }

.counter {
  margin: 0 auto;
  padding-bottom: 60px; }
  .counter #CDT {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .counter #CDT {
        font-size: 32px; } }
    .counter #CDT .number-wrapper {
      margin: 0 15px; }
      @media (max-width: 374px) {
        .counter #CDT .number-wrapper {
          margin: 0 5px; } }
      .counter #CDT .number-wrapper .caption {
        margin-top: 10px;
        font-size: 10px;
        left: 0;
        text-align: center;
        width: 100%;
        color: #fff; }
        @media (min-width: 768px) {
          .counter #CDT .number-wrapper .caption {
            font-size: 12px; } }
      .counter #CDT .number-wrapper .number {
        display: inline-flex;
        background: url(black_friday-assets/counter_m.png);
        background-size: contain;
        width: 48px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 15px;
        text-indent: 8px; }
        @media (min-width: 768px) {
          .counter #CDT .number-wrapper .number {
            width: 95px;
            height: 61px;
            letter-spacing: 30px;
            line-height: 61px;
            text-indent: 15px; } }
      .counter #CDT .number-wrapper .line {
        width: 100%; }

#navLinks {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  font-size: 1.083333333333333em; }
  #navLinks a {
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 20px 13px 20px 6px;
    font-size: 13px; }
    @media (min-width: 992px) {
      #navLinks a {
        font-size: 22px;
        max-width: 1130px;
        margin: 0 auto; } }
    @media (min-width: 1200px) {
      #navLinks a {
        font-size: 26px; } }
    #navLinks a:hover, #navLinks a:focus {
      color: #ff3838; }
    #navLinks a::after {
      content: '\e90b';
      font-size: 1.2em;
      color: #ff3838; }
    #navLinks a::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
  #navLinks form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 13px 0 15px;
    padding-left: 50px;
    padding-right: 5px; }
    @media (min-width: 992px) {
      #navLinks form {
        max-width: 1130px;
        margin-left: auto;
        margin-right: auto; } }
    #navLinks form input {
      padding: 10px 3rem 10px 10px;
      width: 100%;
      border: 1px solid #ebebeb; }
      @media (min-width: 992px) {
        #navLinks form input {
          font-size: 18px; } }
      @media (min-width: 1200px) {
        #navLinks form input {
          padding: 20px;
          font-size: 20px; } }
    #navLinks form button {
      width: 3rem;
      height: 3rem;
      overflow: hidden;
      margin-left: -3rem; }
      #navLinks form button::before {
        content: '\e909';
        display: block;
        font-size: 1.5rem;
        color: #ff3838;
        line-height: 3rem;
        height: 3rem; }
        @media (min-width: 1200px) {
          #navLinks form button::before {
            font-size: 2rem; } }
  #navLinks ul {
    border-top: 1px solid #ebebeb;
    margin-top: 25px; }
  #navLinks li {
    border-bottom: 1px solid #ebebeb;
    position: relative; }
    #navLinks li:hover, #navLinks li:focus {
      background: #ccc;
      opacity: .8; }

.more {
  color: #2b2b2b; }
  .more::after {
    content: '\e90b';
    display: inline-block;
    width: 13px;
    height: 13px;
    line-height: 13px;
    text-align: center;
    border: 1px solid;
    font-size: 10px;
    margin-left: .5em;
    transform: translateY(1px); }
  .more:hover, .more:focus {
    color: #ff3838; }
