ul, li {
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  width: 100%;
  margin: 0; }
  body header {
    background: url(black_friday-assets/background.jpg) 50% 50%;
    background-size: cover;
    height: 100%; }
    body header #mainNavbar {
      padding: 40px; }
      body header #mainNavbar .navbar-toggler {
        border: none; }
      body header #mainNavbar .logo, body header #mainNavbar .chat-icon {
        margin: 0; }
      body header #mainNavbar .logo {
        background: url(black_friday-assets/landing_logo.png) 50% no-repeat;
        width: 150px;
        height: 56px;
        text-indent: -9999px; }
      body header #mainNavbar .chat-icon {
        background: url(black_friday-assets/landing_chat.png) 50% no-repeat;
        width: 60px;
        height: 50px;
        text-indent: -9999px; }
    body header .baner .black_area {
      padding: 180px 20px 20px 20px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      text-align: center; }
      body header .baner .black_area .top-square {
        background: black;
        height: 138px;
        color: white;
        font-weight: 700;
        font-size: 5rem;
        text-transform: uppercase;
        line-height: 138px; }
        body header .baner .black_area .top-square span {
          margin-top: 4px;
          width: 100%;
          height: 63px;
          color: white;
          display: inline-block;
          float: left;
          background: black;
          font-size: 32px;
          font-weight: 400;
          line-height: 63px; }
    body header .baner .under_black_area {
      color: #ff3838;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 81px;
      padding: 50px 0 50px 0;
      text-align: center; }
    body header .baner .bottom_black_area {
      padding: 40px 0;
      margin: 0 auto;
      width: 75%;
      text-align: center;
      color: white;
      font-size: 20px; }
    body header .baner .counter {
      margin: 0 auto;
      padding-bottom: 60px; }
      body header .baner .counter #CDT {
        display: flex;
        justify-content: center;
        font-size: 32px;
        color: #fff;
        margin: 0 auto; }
        body header .baner .counter #CDT .number-wrapper {
          margin: 0 15px; }
          body header .baner .counter #CDT .number-wrapper .caption {
            margin-top: 20px;
            font-size: 12px;
            left: 0;
            text-align: center;
            width: 100%;
            color: #fff; }
          body header .baner .counter #CDT .number-wrapper .number {
            display: inline-flex;
            background: url(black_friday-assets/counter.png);
            width: 90px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            letter-spacing: 30px;
            text-indent: 15px; }
          body header .baner .counter #CDT .number-wrapper .line {
            width: 100%; }
    body header .bottom-menu {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      padding: 50px 0 30px 0; }
      body header .bottom-menu li a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100px;
        color: #fff;
        font-size: 20px;
        text-align: center; }
        body header .bottom-menu li a img {
          padding-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
